# Node.js関連
node_modules/
npm-debug.log
yarn-error.log

# ビルド出力
dist/
build/
out/

# Next.js関連
.next/

# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# エディタ/IDE関連
.vscode/
.idea/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db

# Chrome拡張機能関連
*.pem
*.crx

# その他
*.log
*.bak

.history/
